<h1>Admin::Dashboard#show</h1>
<table class="table table-bordered">
<thead>
<tr>
  <th>Information</th>
  <th>Count</th>
</tr>
</thead>
<tbody>
<tr>
  <td>Product</td>
  <td><%= @products %></td>
</tr>
<tr>
  <td>Categories</td>
  <td><%= @categories %></td>
</tr>
</tbody>
</table>